.navbar
{
    &.yamm .yamm-content
    {
        padding: 10px 20px;
    }

    .categories-menu
    {
        .list-unstyled
        {
            min-width: 300px;
        }
    }
}

.page-content-container
{
    padding-top: 20px;
    padding-bottom: 20px;
}