<h1 class="page-header">Your Cart</h1>
<div class="row" *ngIf="orderItems.length > 0">
  <div class="col-8">
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Product Name</th>
          <th>Unit Price</th>          
          <th>Quantity</th>
          <th>Price</th>          
          <th>Remove</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let orderItem of orderItems;let i=index">
          <th scope="row">{{i+1}}</th>
          <td>{{orderItem.product.name}}</td>
          <td>{{orderItem.product.price | currency}}</td>
          <td><input type="number" name="quantity" (change)="updateProductQuantityFromOrder($event,orderItem.product)" [ngModel]="orderItem.quantity"
              class="form-control" min="1" /></td>
          <td>{{orderItem.price | currency}}</td>
          <td><button class="btn btn-outline-danger btn-sm" (click)="removeOrderItem(orderItem.product)"><i class="fa fa-remove"></i></button></td>
        </tr>
      </tbody>
    </table>
    <!--<ul class="list-group">
      <li *ngFor="let orderItem of orderItems;let i=index" class="list-group-item">
        <div class="col-4">
          {{orderItem.product.name}}
        </div>
        <div class="col-2">
          {{orderItem.product.price | currency}}
        </div>
        <div class="col-2">
          <input type="number" name="quantity" (change)="updateProductQuantityFromOrder($event,orderItem.product)" [ngModel]="orderItem.quantity"
            class="form-control" min="1" />
        </div>
        <div class="col-2">
          {{orderItem.price | currency}}
        </div>
        <div class="col-2">
          <button class="btn" (click)="removeOrderItem(orderItem.product)"><i class="fa fa-remove"></i></button>
        </div>
      </li>
    </ul>-->
  </div>
  <div class="col-4">
    <ul class="list-group">
      <li class="list-group-item">
        <div class="col-6">
          Total
        </div>
        <div class="col-2">
          {{order.totalPrice | currency}}
        </div>
      </li>
    </ul>
  </div>
</div>
<div class="alert alert-info" *ngIf="orderItems.length == 0">
  <h4 class="alert-heading">Aww No!</h4>
  <p class="mb-0">There are no products added to cart.</p>
</div>