<h1 class="page-header">Your Cart</h1>
<div class="row" *ngIf="orderItems.length > 0">
  <div class="col-8">
    <ul class="list-group">
      <li *ngFor="let order of orderItems" class="list-group-item">
        <div class="col-6">
          {{order.product.name}}
        </div>
        <div class="col-2">
          {{order.product.price | currency}}
        </div>
        <div class="col-2">
          <input type="number" name="quantity" [(ngModel)]="order.quantity" class="form-control" />
        </div>
        <div class="col-2">
          <button class="btn" (click)="removeOrderItem(order.product)"><i class="fa fa-remove"></i></button>
        </div>
      </li>
    </ul>
  </div>
  <div class="col-4">
    <ul class="list-group">
      <li class="list-group-item">
        <div class="col-6">
          Total
        </div>
        <div class="col-2">
          {{order.totalPrice | currency}}
        </div>
      </li>
    </ul>
  </div>
</div>
<div class="alert alert-info" *ngIf="orderItems.length == 0">
  <h4 class="alert-heading">Aww No!</h4>
  <p class="mb-0">There are no products added to cart.</p>
</div>